MONGODB_URI=mongodb://mongo:27017       <-- This can stay as is if running on the same server
PORT=5000                               <-- this is the port for the Express Server, if you change it, make sure to change in the docker-compose and server/Dockerfile if needed